[package]
name = "metaplex-indexer"
version = "0.1.0"
authors = [
  "ryans <ryans@holaplex.com>",
]
edition = "2021"
description = "Indexer write worker for caching Metaplex data"
documentation = "https://docs.rs/metaplex-indexer"
readme = "../../README.md"
repository = "https://github.com/holaplex/metaplex-indexer"
license = "AGPL-3.0-or-later"
keywords = ["solana", "metaplex", "holaplex", "web3"]
categories = ["cryptography::cryptocurrencies", "web-programming"]

[dependencies]
clap = "3.0.0-beta.5"
reqwest = "0.11.6"
serde = { version = "1.0.130", features = ["derive"] }
serde_json = "1.0.70"
tokio = { version = "1.13.0", features = ["rt"] }
topograph = "0.2.0-alpha.1"

# Solana & Metaplex
metaplex = "0.0.1"
metaplex-auction = "0.0.1"
metaplex-token-metadata = "0.0.1"
metaplex-token-vault = "0.0.1"
solana-client = "1.8.3"
solana-program = "1.8.3"
solana-sdk = "1.8.3"

[dependencies.indexer-core]
package = "metaplex-indexer-core"
version = "=0.1.0"
path = "../core"

