[package]
name = "metaplex-indexer-core"
version = "0.1.0"
authors = [
  "ryans <ryans@holaplex.com>",
]
edition = "2021"
description = "Core components for metaplex-indexer and metaplex-indexer-rpc"
documentation = "https://docs.rs/metaplex-indexer-core"
readme = "../../README.md"
repository = "https://github.com/holaplex/metaplex-indexer"
license = "AGPL-3.0-or-later"
keywords = ["solana", "metaplex", "holaplex", "web3"]
categories = ["cryptography::cryptocurrencies", "web-programming"]

[dependencies]
# Basic utilities
anyhow = "1.0.45"
chrono = "0.4.19"
clap = "3.0.0-beta.5"
dotenv = "0.15.0"
env_logger = "0.9.0"
log = "0.4.14"
rand = "0.8.4"

# Fast hash tables
ahash = "0.7.6"
dashmap = "4.0.2"

# ORM
diesel = { version = "1.4.8", features = ["postgres", "r2d2", "chrono"] }
diesel_migrations = "1.4.0"

# Solana
solana-sdk = "1.8.3"

