[package]
name = "holaplex-indexer-core"
version = "0.1.0"
authors = [
  "ryans <ryans@holaplex.com>",
]
edition = "2021"
description = "Core components for the holaplex-indexer family of crates"
documentation = "https://docs.rs/holaplex-indexer-core"
readme = "../../README.md"
repository = "https://github.com/holaplex/indexer"
license = "AGPL-3.0-or-later"
keywords = ["solana", "metaplex", "holaplex", "web3"]
categories = ["cryptography::cryptocurrencies", "web-programming"]

[dependencies]
# Basic utilities
anyhow = "1.0.45"
chrono = "0.4.19"
clap = { version = "3.0.7", features = ["derive", "env"] }
dotenv = "0.15.0"
env_logger = "0.9.0"
log = "0.4.14"
rand = "0.8.4"
serde_json = "1.0.70"
strum = { version = "0.24.0", features = ["derive"] }
uuid = "0.8.2"

# Fast hash tables
ahash = "0.7.6"
dashmap = "4.0.2"

# ORM
diesel = { version = "1.4.8", features = ["postgres", "r2d2", "uuidv07", "chrono", "serde_json"] }
diesel_migrations = "1.4.0"
diesel_full_text_search = { version = "1.0.1", git = "https://github.com/diesel-rs/diesel_full_text_search", rev = "886fe85" }

# Solana
solana-sdk = "1.8.3"

# Asset id
base64 = "0.13.0"
cid = "0.7.0"
url = "2.2.2"
