# For documentation on how to configure this file,
# see diesel.rs/guides/configuring-diesel-cli

[print_schema]
file = "src/db/schema.rs"
import_types = [
  "diesel::sql_types::*",
  "diesel_full_text_search::{TsVector as Tsvector, TsQuery as Tsquery}",
  """crate::db::custom_types::{\
    Mode, \
    SettingType as Settingtype, \
    TokenStandard as Token_standard, \
  }""",
]