name: Cargo fmt/lint

on:
  pull_request:
  push:
    branches: [dev, master]

jobs:
  fmt:
    name: cargo fmt
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-11-09
          components: cargo, rustc, rustfmt
          profile: minimal

      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all --check

  debug-check:
    name: cargo check/doc/clippy (debug profile)
    runs-on: ubuntu-20.04
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-11-09
          components: cargo, rustc
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}

      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all --lib --bins --all-features --no-deps --profile=debug-lite

      - name: check lockfile
        run: |
          diff Cargo.lock <(git show HEAD:Cargo.lock)

      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all --lib --all-features --no-deps --profile=debug-lite

  release-check:
    name: cargo check/doc/clippy (release profile)
    runs-on: ubuntu-20.04
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-11-09
          components: cargo, rustc
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}

      - uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all --lib --bins --all-features --profile=release-lite

      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --all --lib --all-features --no-deps --profile=release-lite
