name: Cargo test

on:
  pull_request:
    branches: [master]
  push:
    branches: [dev, master]

jobs:
  debug-build:
    name: cargo build/test (debug profile)
    runs-on: ubuntu-20.04
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-11-09
          components: cargo, rustc
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --lib --bins --all-features --profile=debug-lite

  release-build:
    name: cargo build/test (release profile)
    runs-on: ubuntu-20.04
    steps:
      - name: install dependencies
        run: |
          sudo apt-get update -y
          sudo apt-get install -y libudev-dev

      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-11-09
          components: cargo, rustc
          profile: minimal

      - uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock', 'rust-toolchain.toml') }}

      - uses: actions-rs/cargo@v1
        with:
          command: test
          args: --all --lib --bins --all-features --profile=release-lite
